
body {
  background-color: #333;
}
.header{
  background-color: rgb(0, 238, 159);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(156,33,177,0.8911274629480699) 34%, rgba(70,193,100,0.8940686394186581) 65%, rgba(0,212,255,1) 100%);
  background-color: linear;
  width: 100%;
  height: 150px;
  text-align: center;
  align-items: center;
  position: relative;
  border-radius: 15px 15px 0px 0px;
}
.name{
  font-size: 72px;
  background: linear-gradient(to right, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  left: 50%;
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;

}

.valinnat {
  background-color:#F8B500;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.valinnat select {
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.questions {
  padding: 20px;
  background-color:#f88d00;
  align-items: center;
  justify-content: center;
  text-align: center;


}

.questions button {
  padding: 20px;
}

.asnBut {
  margin: 10px;
}

.quest{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}